/build/
/.vscode/
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.elf
*.bin
*.hex
*.map
*.out
/helloagents/
/.cache/
/User/xrobot_main.hpp
/Modules/CMakeLists.txt
/Modules/*/

# MSPM0 SDK and SysConfig installed by CI
/.mspm0-sdk/
/.sysconfig/
